.App-header {
  background-color: #337682;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  width: 1260px;
  text-align: center;
}

.App-back {
  background: url("/road09.svg");
  min-height: 1350px;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #337682;
  width: 1260px;
  height: 1350px;
}